@import url('./assets/css/hero.css');
@import url('./assets/css/announcement.css');
@import url('./assets/css/socials.css');
@import url('./assets/css/slider.css');
@import url("./assets/css/header.css");
@import url("./assets/css/hifi_brands.css");
@import url("./assets/css/footer.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
@import url("./assets/css/shop-category.css");
@import url('./assets/css/secondaryNavigation.css');
@import url('./assets/css/sale.css');
@import url('./assets/css/path.css');
@import url('./assets/css/singleProduct.css');
@import url('./assets/css/contact.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import url('./assets/css/shop-frontpage.css');
@import url('./assets/css/contactpage.css');
@import url('./assets/css/blog.css');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}