.blogHero__background {
    object-fit: cover;
    background-color: black;
    height: 100%;
    width: 100%;
    filter: brightness(81%) contrast(99%) grayscale(13%) hue-rotate(172deg) opacity(44%) saturate(104%);
}

.blogHero {
    height: 600px;
    width: 100%;
    color: var(--bright-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-color);
}

.blog__headingCtn {
    position: absolute;
    margin-left: -60%;
}

.hero__logoCtn {
    margin-right: -60%;
    width: 175px;
    height: 175px;
    position: absolute;
}

.blog__heading {
    text-transform: uppercase;

    font-family: var(--primary-font700);
}

.blogArticle {
    height: 400px;
    width: 100%;
    color: var(--bright-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--dark-color);
    box-shadow: -2px -16px 20px 10px var(--dark-color);
    position: relative;
}

.blogArticle__header {
    font-size: xx-large;

    font-family: var(--primary-font700);
}

.blogArticle__text {
    font-size: x-large;

    font-family: var(--primary-font500);
}