.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-color: var(--dark-color);

    margin: 2rem 0;
    padding: 0.5rem;
}

.contact__icon {
    color: gray;
}

.contact__heading {
    color: var(--accent-color);

    font-family: var(--primary-font700);

    text-transform: uppercase;
}