.footerCtn {
    background-color: #A39161;
    display: grid;
    grid-template-columns: 275px auto auto 140px;
    align-items: center;
    padding: 1.2em;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.footerCtn__links {
    color: white;
    text-decoration: none;
}

.footerCtn__return,
.footerCtn__privacy {
    color: #fff;
}

.footerCtn__payment {
    color: #fff;
    list-style: none;
    display: flex;
    gap: 0.7em;
    margin-left: auto;
    font-size: 1.3em;
}

.footerCtn__some {
    margin-left: auto;
    display: flex;
    gap: 5px;
}

.footerCtn__someLink {
    color: white;
    border: solid #fff 1px;
    border-radius: 50%;
    font-size: 12px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}