.site-footer__container {
    background-color: #A39161;
    display: flex;
    align-items: center;
    padding: 1.2em;
}

.site-footer__adress {
    padding-right: 4em;
}

.site-footer__links {
    color: white;
    text-decoration: none;
    padding-bottom: 1.5em;
}

.site-footer__link {
    color: white;
    text-decoration: none;
}

.site-footer__payment {
    list-style: none;
    display: flex;
    gap: 0.7em;
    padding-left: 28em;
}

.site-footer__paymentLogo {
    color: white;
    font-size: 30px;
}

.site-footer__social-media__link {
    color: white;
    border: white solid 1px;
    border-radius: 50%;
    padding: 0.5em;
    font-size: 12px;
}

.site-footer__social-media {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 0.5em;
    margin-left: auto;
}