.footerCtn {
    background-color: #A39161;
    display: grid;
    grid-template-columns: 275px auto auto 140px;
    align-items: center;
    padding: 1.2em;
}

.footerCtn__links {
    color: var(--bright-color);
    text-decoration: none;
    font-family: var(--primary-font700)
}

.footerCtn__return,
.footerCtn__privacy {
    color: var(--bright-color);
}

.footerCtn__payment {
    color: var(--bright-color);
    list-style: none;
    display: flex;
    gap: 0.7em;
    margin-left: auto;
    font-size: 1.3em;
}

.footerCtn__some {
    margin-left: auto;
    display: flex;
    gap: 5px;
}

.footerCtn__someLink {
    color: var(--bright-color);
    border: solid var(--bright-color) 1px;
    border-radius: 50%;
    font-size: 12px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.footerCtn__address {
    font-family: var(--primary-font700);

    font-size: 14px;
}