.primaryNavigation {
    display: flex;
    flex-direction: column;

    position: fixed;

    width: 100%;

    z-index: 99;
}

.primaryNavigation__utility {
    list-style-type: none;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;

    background-color: rgba(0, 0, 0, 0.5);

    padding-right: 2rem;

    height: 50px;
}

.primaryNavigation__subscribe {
    background-color: #1190E6;

    border-radius: 0.25rem;

    padding: 0.1rem 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.primaryNavigation__navigation {
    list-style-type: none;

    background-color: black;

    border-top: solid 1px #9D7A3E;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    height: 50px;

}

.primaryNavigation__item {
    font-size: 18px;
    font-weight: bold;

    text-decoration: none;

    color: white;
}

.primaryNavigation__item:hover {
    color: #9D7A3E;
}

.primaryNavigation__item--black {
    color: gray;
}