.primNav {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.primNav__utility {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    background-color: var(--transparent-color);
    padding-right: 2rem;
    height: 50px;
}

.primNav__utility--black {
    background-color: black;
    text-decoration: none;
    color: white;
}

.primNav__logo--left {
    margin-right: auto;
    padding-left: 2rem;
}

.primNav__subscribe {
    background-color: #1190E6;
    border-radius: 0.25rem;
    padding: 0.1rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--primary-font500)
}

.primNav__navigation {
    list-style-type: none;
    background-color: black;
    border-top: solid 1px var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 50px;
}

.primNav__item {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: var(--bright-color);
    font-family: var(--primary-font300);
}

.primNav__item:hover {
    color: var(--accent-color);
}

.primNav__item--black {
    color: gray;
}

.primNav__searchInputContainer {
    position: relative;
}

.primNav__searchInput {
    width: 350px;
}

.fa-magnifying-glass {
    position: absolute;
    right: 5px;
    top: 2.5px;
    cursor: pointer;
    color: rgb(198, 198, 198);
}

.primNav__logoHeader {
    width: 35px;
    height: 35px;
    /* margin-right: 50rem; */
}

.primNav__logoHeaderBox {
    border: 2px solid var(--bright-color);
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    font-weight: bold;
    font-size: 5px;
    padding: 0.25rem;
}

.primNav__logoHeader--white {
    color: var(--bright-color);
}

.primNav__logoHeaderUrl {
    color: var(--bright-color);
    padding-top: 0.2rem;
    text-align: center;
    font-weight: bold;
    font-size: 3.5px;
}