.path {
    padding: 1rem;

    padding-top: 10rem;
}

.path--paddingLeft {
    padding: 10rem 0 1rem 5.25rem;
}

.path__item {
    color: var(--primary-color);

    text-transform: capitalize;

    font-family: var(--primary-font500);
}

.path__item--black {
    color: black;
}