.secondaryNavigation {
    height: 300px;
    background-color: #111;

    display: flex;
    justify-content: center;
    align-items: center;
}

.secondaryNavigation__list {
    list-style-type: none;

    display: flex;
    justify-content: center;
    align-items: start;
    gap: 5rem;

    text-align: center;
}

.secondaryNavigation__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.secondaryNavigation__link {
    text-decoration: none;

    padding: 0.2rem 1rem;

    color: var(--primary-color);

    font-size: x-large;
    font-weight: bold;
    font-family: var(--primary-font500);

    border: 1px solid var(--bright-color);

    text-transform: uppercase;
}

.secondaryNavigation__text {
    width: 300px;

    color: var(--bright-color);

    text-transform: uppercase;

    font-family: var(--primary-font500)
}