.website__path {
    padding-top: 10rem;
    padding-left: 5.25rem;

    font-family: var(--primary-font100);

    text-transform: capitalize;
}

.shopCategory {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.shopCategory__container,
.shopFilter__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    
    margin-top: 1rem;
}

.shopFilter__container {
    width: 800px;
    align-items: center;
}

.shopCategory__menu,
.shop__shopByMenu {
    background-color: rgb(217, 217, 217);
    width: 200px;

    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start; 
    gap: 0.5rem;
}

.shop__categoryItem,
.shop__shopByItem,
.shop__categorySubItem,
.shop__shopBySubItem {
    list-style: none;
    color: var(--dark-color);
    text-transform: capitalize;
    cursor: pointer;
    font-family: var(--primary-font500)
}

.shop__categoryItem,
.shop__shopByItem {
}

.shop__shopBySubItem,
.shop__categorySubItem {
    padding: 0.6em 4em;
}

.shopManufacturer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
}

.shopManufacturer__container {
    display: flex;
    padding-top: 1em;
}

.shopManufacturer__title {
    text-transform: uppercase;
    font-size: large;
    color: #B19C6C;

    font-family: var(--primary-font300)
}

.shopManufacturer__item {
    list-style: none;
    color: var(--dark-color);

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
}

.shopManufacturer__listLink {
    color: #B19C6C;
    text-decoration: none;
    text-transform: capitalize;

    font-family: var(--primary-font300)
}

.shopFilter,
.shop__filter {
    background-color: rgb(217, 217, 217);
    width: 830px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #CCC;
    margin-bottom: 1em;
}

.shop__items--container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 2rem;
    width: 800px;
}

.shopByMenu__title {
    color: #B19C6C;
    font-size: large;
    text-transform: uppercase;


    font-family: var(--primary-font300)
}

.shop__items {
    width: 200px;
    padding: 0.5em;
}

.shopFilter__text,
.shopFilter__showingItems {
    text-transform: uppercase;
    color: var(--dark-color);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    font-family: var(--primary-font700)
}

.shopItems__title {
    color: var(--dark-color);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    font-family: var(--primary-font500);
}

.shopItems__price {
    color: #B19C6C;
    padding: .5em;
}

.shopItems__button {
    margin: 1em 0;
    color: var(--bright-color);
    background-color: #B19C6C;
    padding: 1em;
    border-style: none;
    text-transform: uppercase;
    cursor: pointer;
    font-family: var(--primary-font700)
}

.shopItems__image {
    width: 200px;
    height: 200px;

    border: 1px solid lightgray;
}

.shopItems__containerLink {
    text-decoration: none;

    width: 175px;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}