.shopCtn {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 125px);
    justify-content: center;
    background-color: var(--dark-color);
}

.shopCtn__box {
    width: 125px;
    height: 125px;
    position: relative;
    text-align: center;
    background-color: #A39161;
}

.shopCtn__boxImg {
    width: 125px;
    height: 125px;
}

.shopCtn__link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--bright-color);
    text-transform: uppercase;
    font-size: 12px;
    font-family: var(--primary-font500);
    width: 95%;
}

.shopCtn__link--button {
    top: 50%;
    padding: 1em;
    background-color: #544d3a;
}