.website__path{
    padding: 10em 0 0 2em;
}

.shop__category--container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    padding-top: 1em;
}
.allaround--container{
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    justify-content: center;
    gap: 6em;
}

.shop__manufacturer--container{
    display: flex;
    padding-top: 1em;
}

.shop__filter--container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 2em;

    width: 800px;
    justify-content: flex-start;
    align-items: center;
}

.shop__categoryMenu {
    background-color: rgb(217, 217, 217);
    margin: 0 0 0 2em;
    width: 200px;
}

.shop__shopByMenu {
    background-color: rgb(217, 217, 217);
    margin: 2em 0 0 2em;
    width: 200px;

}

.shop__categoryItem,
.shop__shopByItem {
    padding: .6em 2em;
    list-style: none;
    color: #B19C6C;

}

.shop__shopBySubItem,
.shop__categorySubItem {
    padding: .6em 4em;
    list-style: none;
    color: #B19C6C;
}

.shop__manufacturer {
    width: fit-content;
    height: fit-content;
}

.shop__manufacturer__title {
    text-transform: uppercase;
    font-size: large;
    color: #B19C6C;
}

.shop__manufacturer__list {
    list-style: none;
    padding: .3em;
}

.shop__manufacturer__listLink{
    color: #B19C6C;
    text-decoration: none;
    text-transform: capitalize;
}

.shop__filter {
    background-color: rgb(217, 217, 217);
    width: 830px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid 2px rgb(204, 204, 204) ;
    margin-bottom: 1em;
}


.shop__items--container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 840px;
} 

.shop__items{
    width: 210px;
    padding: .5em;
}

.shop__filter__text{
    text-transform: uppercase;
    color: black;
}
.shop__items__title{
    text-align: center;
}

.shop__items__price{
    text-align: center;
}

.shop__items__button{
    text-align: center;
    margin: 1em 0;
    color: white;
    background-color: #B19C6C;
    padding: .5em;
    border-style: none;
}
