.product {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.product__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 1rem;

    width: 800px;
}

.product__displayedImage {
    width: 700px;
    height: 500px;
    object-fit: contain;
}

.product__gallery {
    width: 100%;
    padding: 0 1rem;
}

.product__views {
    text-transform: capitalize;

    color: #9D7A3E;

    font-family: var(--primary-font500);
}

.product__galleryImages {
    display: flex;
    justify-content: left;
    align-items: center;
}

.product__galleryImage {
    width: 100px;
}

.product__name, .product__about, .product__options {
    width: 100%;

    font-family: var(--primary-font500)
}

.product__name {
    text-transform: uppercase;

    font-size: x-large;

    color: var(--primary-color);
}

.product__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding-right: 1rem;
}

.product__more {
    color: var(--primary-color);

    font-family: var(--primary-font500)
}

.product__price {
    font-size: x-large;

    color: var(--primary-color);

    display: flex;
    justify-content: center;
    align-items: end;
    gap: 2rem;
}

.product__discount {
    color: rgba(0, 0, 0, 0.4);

    font-size: large;

    text-decoration: line-through;
}

.product__options {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.25rem;
}

.product__option {
    font-size: 14px;
    font-weight: bold;
    font-family: var(--primary-font500);

    white-space: nowrap;

    padding: 0.5rem 1rem;

    background-color: var(--accent-color);

    border: none;

    color: white;

    text-transform: uppercase;
}

.product__finish {
    border: 1px solid gray;

    width: 100%;
    height: 100%;
}

.product__finishSection {
    height: 50%;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 1rem;
}

.product__colorLabel {
    text-transform: capitalize;
    background-color: lightgray;

    padding: 0.5rem 0.5rem;

    font-family: var(--primary-font700);

    width: 50%;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.product__payment {
    background-color: lightgray;
    height: 100%;
    
    padding: 1rem;

    font-family: var(--primary-font500);

    display: flex;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
}

.product__quantityLabel {
    color: var(--primary-color);

    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.product__quantityInput {
    padding: 0.5rem;

    width: 50px;
    height: 40px;

    text-align: center;
}

.product__methods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    width: 200px;
}

.product__cart {
    width: 200px;
    height: 40px;

    text-transform: capitalize;

    font-size: 18px;
    font-family: var(--primary-font500);
}

.product__paypal {
    border-radius: 2rem;

    width: 175px;

    background-color: #FFCC00;

    padding: 0.25rem 0;

    font-family: var(--primary-font700);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.product__paypal--icon {
    width: 80px;
}

.product__advert {
    text-transform: capitalize;

    width: 300px;

    text-align: center;

    font-size: 12px;
    font-family: var(--primary-font500);
}

.product__info {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.product__title {
    font-size: xx-large;

    text-transform: uppercase;

    color: var(--primary-color);

    font-family: var(--primary-font500);
}

.product__list {
    list-style-type: none;

    display: flex;
    flex-direction: column-reverse;
}

.product__item {
    display: flex;
    justify-content: start;
    align-items: center;

    border: 1px solid rgba(0, 0, 0, 0.3);
}

.product__subtitle, .product__value {
    padding: 1rem;

    height: 50px;

    text-align: left;

    font-size: 14px;
    font-family: var(--primary-font500)
}

.product__subtitle {
    background-color: lightgray;

    font-size: medium;

    width: 40%;
    height: 50px;

    text-transform: uppercase;
}

.product__value {
    height: 50px;
    width: 60%;

    text-transform: capitalize;
}

.product__description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;

    padding-top: 20rem;
}

.product__specifications {
    list-style-type: none;
}

.product__specification {
    display: flex;
    justify-content: space-between;

    font-family: var(--primary-font300);

    text-transform: capitalize;

    width: 500px;
}