.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 2rem;
}

.slider__heading {
    color: var(--primary-color);

    position: absolute;

    margin-bottom: 12.5rem;
    margin-left: 3rem;

    text-transform: uppercase;

    font-family: var(--primary-font500);
}

.slider__img {
    object-fit: cover;
    height: 300px;
    width: 600px;
}

.slider__back, .slider__forward {
    background-color: transparent;

    color: var(--primary-color);

    border: none;

    font-size: 60px;

    cursor: pointer;
}

.slider__back:hover, .slider__forward:hover {
    color: gold;
}